<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">[backup]</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li {{#isStatusActive}}class="active"{{/isStatusActive}}><a href="/status">Status</a></li>
                <li {{#isHistoryActive}}class="active"{{/isHistoryActive}}><a href="/history">History</a></li>
            </ul>
        </nav>
    </div>
</header>
