<script type="text/javascript" src="/webjars/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/underscorejs/1.6.0/underscore-min.js"></script>
<script type="text/javascript" src="/webjars/backbonejs/1.1.2/backbone-min.js"></script>
<script type="text/javascript" src="/webjars/mustachejs/0.8.2/mustache.js"></script>
<script type="text/javascript" src="/webjars/momentjs/2.5.1/min/moment.min.js"></script>

<script type="text/javascript" src="/assets/js/b.js"></script>
<script type="text/javascript" src="/assets/js/models/backup.js"></script>
<script type="text/javascript" src="/assets/js/models/verification.js"></script>
<script type="text/javascript" src="/assets/js/models/service.js"></script>
<script type="text/javascript" src="/assets/js/views/status.js"></script>
<script type="text/javascript" src="/assets/js/views/history.js"></script>
<script type="text/javascript" src="/assets/js/views/detail.js"></script>
