<html>
  <head>
    <title>backup :detail {{#backup}}{{service}}{{/backup}}</title>
{{> _css}}
  </head>
  <body>

{{> _header}}

    <div class="spinner-container">
      <div class="spinner"><div>Loading...</div></div>
    </div>

    <div class="container" id="b-detail-container"></div>

<!-- at the end -->
{{> _js}}

    <script>

        var b = new B.Collection.Backups(), v = new B.Collection.Verifications();
        var dv = new B.View.DetailView({
            model: b,
            verifications: v,
            el: $("#b-detail-container"),
            service: "{{#backup}}{{service}}{{/backup}}",
            id: "{{#backup}}{{id}}{{/backup}}"
        });

        $(function() {
            b.fetch();
            v.listenTo(b, "b:indexed", function() {
              $(".spinner-container").hide();
              v.fetch();
            });
        });

    </script>
  </body>
</html>
